/* Octopus Energy brand colours used in the design */
/* * {
  box-sizing: border-box;
} */

:root {
  --hemocyanin: #180048;
  --ice: #f0ffff;
  --plum: #600e6b;
  --purpleHaze: #a49fc8;
  --siphon: #100030;
  --sohoLights: #f050f8;
}

html,
body {
  padding: 10;
  font-family: Gotham, helvetica, arial, sans-serif;
  color: var(--ice);
}

body {
  background: var(--siphon);
}

.product_list {
  list-style: none;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.basket_icon {
  width: 22px;
  height: 22px;
}

.product_title {
  font-family: Gotham, helvetica, arial, sans-serif;
  font-size: 40px;
}

.add_button {
  width: 100%;

  border-radius: 6px;
  border: none;
  background: #f050f8;
  color: #100030;
  height: 40px;
  /* margin-top: 10px; */
}

.add-to-button {
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
  /* width: 400px; */
  height: 50px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.left-content {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.right-content {
  display: flex;
  justify-content: space-between;
}

.quantity_button {
  margin: 5px;
}

.Qty {
  margin: 0;
}

table {
  width: 100%;
}

.octopus_logo {
  max-width: 100%;
  width: 300px;
  height: auto;
}

.product-img {
  max-width: 100%;
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-image: contain;
}

figure {
  margin: 0;
}

.description-container {
  background-color: #180048;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #180048;
  clip-path: inset(0 -100vmax);
  padding-top: 2px;
  padding-bottom: 5px;
}

.footer-container {
  background-color: #180048;
  font-size: 10px;
  color:#a49fc8;
  line-height: 1.5;
  padding: 20px;
  
}

.footer-full-bleed {
  box-shadow: 0 0 0 100vmax #180048;
  clip-path: inset(0 -100vmax);
}

.spec-container {
  padding-bottom: 15px;
}

